<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nightvision.camera">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Night Vision Cam"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NightVisionCamera"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <activity android:name=".ui.MainActivity" android:exported="true"
            android:screenOrientation="portrait" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.RecordingActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".ui.StreamingActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".ui.ViewerActivity" android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".ui.SettingsActivity" android:screenOrientation="portrait" android:exported="false"/>

        <service android:name=".service.RecordingService" android:enabled="true"
            android:exported="false" android:foregroundServiceType="camera" android:stopWithTask="false"/>

        <service android:name=".service.StreamingService" android:enabled="true"
            android:exported="false" android:foregroundServiceType="camera" android:stopWithTask="false"/>

    </application>
</manifest>
